<p>
    Vous aimez composer, mais vous ne savez pas quels accords utiliser pour créer une progression d’accords qui sonne bien? 
    Cette application vous aide à inventer des progressions d’accords intéressantes!
</p>
<p>
    Cela se passe dans la page "Créer une progression d'accords". Il faut d’abord sélectionner un type de gamme (majeure ou mineure harmonique). 
    L’application vous guide ensuite pas à pas dans la création d’une progression de cinq accords. 
    Quand vous sélectionnez un accord, la liste déroulante représentant l’accord suivant est activée. 
    Les accords à choisir sont représentés par des chiffres romains dans le contexte de la gamme choisie. Les accords absolus (uniquement en Do pour l’instant) sont affichés sous la progression. 
    Selon l’accord précédent, une liste d’accords qui sonnent bien avec l’accord choisi vous est proposée.
</p>
<p>
    Vous pouvez à tout moment écouter la progression créée. 
    La progression est jouée avec un son de guitare de haute qualité.
</p>
